.container {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: black;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 30px;
}

p {
  font-size: 16px;
}
